
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  text-align: center;
  width: 100vh;
}



li {
    list-style: none;
    
}

header {
  background-color: rgb(74, 75, 75);
  width: 2600px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vh;
}


.Navbar {
 align-self: flex-end;
  display: flex;
}

.Menu {
  align-self: flex-end;
  display: flex;
    flex-direction: row;
  }
  
  .Navbar .menuItem {
  padding: 20px;
  font-size: 30px;
  margin-bottom: 50px;
  color: antiquewhite;
}

.Navbar .menuItem:hover{
    color: black;
}

.logo {
  margin-right: 200px;
  margin-left: 20px;
  height: 180px;
}

#cartCesto {
  height: 50px;
  width: 70px;
  margin-top: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vh;
  font-size: 20px;
  margin-left: 200px;
}

.cardItem {
  height: 500px;
  outline: solid black 2px;
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.cardDescrip {
  display: flex;
  flex-direction: column;
}

.cardImg {
  width: 250px;
  height: 350px;
}

.m-10 {
  margin: 7px;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 30px;
  outline: 2px solid black;
  margin-top: 50px;
  margin-left: 100px;
}

.detailImg {
    height: 600px;
    width: 600px;
}

.detailDesc {
  padding: 10px;
  font-size: 30px;
}

.detai {
  display: flex;
  flex-direction: row;
}

.operacionBtn {
    width: 40px;
    height: 30px;
    margin: 5px;
}

.opContainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.addCart {
  width: 140px;
  font-size: 17px;
}

.img__cart {
  height: 100px;
}

.cart__dad {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 30px;
  border: 1px solid black;
}
.cart__p {
  padding: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 50px;
}