
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  text-align: center;
  width: 100vh;
}



li {
    list-style: none;
    
}

header {
  background-color: rgb(74, 75, 75);
  width: 2600px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 2000px;
}
.div_logo {
  width: 1000px;
  display: flex;
  align-items: first baseline;
}

.div_navbar {
  display: flex;
  width: 1000px;
  justify-content: end;
}


.Navbar {
  align-self: flex-end;
  display: flex;
}

.Menu {
  align-self: flex-end;
  display: flex;
    flex-direction: row;
  }
  
  .Navbar .menuItem {
  padding: 30px;
  margin: 30px;
  font-size: 30px;
  margin-bottom: 50px;
  color: antiquewhite;
  text-decoration: none;
}

.Navbar .menuItem:hover{
  border-radius: 15px;
    background-color: black;
}

.logo {
  margin-right: 200px;
  margin-left: 20px;
  height: 180px;
}

#cartCesto {
  height: 50px;
  width: 70px;
  margin-top: 50px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1800px;
  font-size: 20px;
  margin-left: 200px;
}

.cardTop {
    font-size: 25px;
}


.cardItem {
  height: 530px;
  outline: solid black 2px;
  padding: 35px;
  margin: 90px;
  display: flex;
  flex-direction: column;
}

.cardBtn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  background-color: antiquewhite;

}

.cardBtn:hover {
  background-color: rgb(74, 75, 75);
  color: antiquewhite;
}

.cardDescrip {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.cardImg {
  width: 250px;
  height: 350px;
}

.m-10 {
  margin: 7px;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 30px;
  outline: 2px solid black;
  margin-top: 50px;
  margin-left: 100px;
}

.detailImg {
    height: 600px;
    width: 600px;
}

.detailDesc {
  padding: 10px;
  font-size: 30px;
}

.detai {
  display: flex;
  flex-direction: row;
}

.operacionBtn {
    width: 40px;
    height: 30px;
    margin: 5px;
}

.opContainer {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.addCart {
  width: 140px;
  font-size: 17px;
}

.img__cart {
  height: 100px;
}

.cart__dad {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 30px;
  border: 1px solid black;
}
.cart__p {
  padding: 30px;
}

.spinner {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 40px;
  align-items: center;
  background-color: rgb(74, 75, 75);
  border: 1px solid rgb(74, 75, 75);
}

.form {
  padding: 10px;
  margin: 10px;
  width: 400px;
  background-color: antiquewhite;;
}

.form_tt {
  color: antiquewhite;
}

.footer {
  width: 2700px;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: antiquewhite;
  margin-top: 165px;
  background-color: rgb(74, 75, 75);
}

.cart_cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 2000px;  
}

.btn_vaciar {
  width: 100px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(74, 75, 75);
  color: antiquewhite;
}

.btn__form {
  width: 120px;
  height: 30px;
  font-size: 15px;
  background-color: antiquewhite;
  color:  rgb(74, 75, 75);
}

.noproducts {
  margin-bottom: 750px;
  font-size: 30px;
}

.nopro_cont {
  display: flex;
  justify-content: center;
}